/* Fonts */

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@font-face {
  font-family: "Flexa";
  src: url(assets/flexa-mono.woff2) format("woff2");
}

@font-face {
  font-family: "Cascadia Code";
  src: url(assets/cascadia-real.woff2) format("woff2");
}

/* Reset */
* {
  margin: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}

/* Variables */
:root {
  --color-primary: #ff55ff;
  --color-secondary: #5555ff;
  --color-secondary-background: #5555ff11;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-tertiary: #55ffff;
  --color-positive: #53db53;
  --color-caution-20: rgba(255, 197, 85, 0.2);
  --color-caution: #ffc555;
  --color-negative: #ff5555;
  --color-foreground: #ffffff;
  --color-foreground-1: #242e38;
  --color-foreground-2: #29343d;
  --color-foreground-3: #333e47;
  --color-foreground-4: #5e6d7a;
  --color-foreground-5: #8594a1;
  --color-foreground-6: #d3dee8;
  --color-background: #0b131a;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-glow: #5555ff22;
  --font-family-sans-serif: Inter, sans-serif;
  --font-family-monospace: "Cascadia Code";
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-size-large: 8vw;
  --font-size-medium: 1.75vw;
  --font-size-normal: 1rem;
  --font-size-small: 0.5vw;
  --border-radius-large: 4vw;
  --border-radius-medium: 2vw;
  --border-radius-tiny: 0.5vw;
  --box-shadow-color: var(--color-secondary-2);
}

/* Typography */

h1 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
  font-family: "Flexa", monospace;
  font-weight: normal;
  line-height: 1.1;
  text-align: center;
  letter-spacing: -0.2vw;
  margin-bottom: 2vw;
}

span.headline-easily {
  border-bottom: 0.5vw solid white;
}

span.headline-publish {
  border: 0.5vw dashed var(--color-primary);
  padding: 2vw;
  border-radius: 100%;
}

span.headline-view::after {
  content: "👀";
  margin-left: -1vw;
  position: absolute;
  font-size: 5vw;
}

span.headline-code {
  background: var(--color-caution-20);
  color: var(--color-caution);
  padding: 0 1vw;
  border-radius: var(--border-radius-medium);
}

span.headline-radicle {
  color: var(--color-positive);
}

h3 {
  padding: 1rem 0rem;
  font-size: var(--font-size-medium);
}

p {
  color: var(--color-foreground-faded);
  font-size: var(--font-size-normal);
  font-weight: 400;
}

p.medium {
  font-size: var(--font-size-medium);
}

code {
  font-family: var(--font-family-monospace);
  letter-spacing: 0.1rem;
  font-size: var(--font-size-normal);
  background: var(--color-caution-20);
  color: var(--color-caution);
  font-weight: bold;
  padding: 0.2vw 0.3vw 0.2vw 0.5vw;
  border-radius: var(--border-radius-tiny);
}

/* Styles */

::selection {
  background: rgba(255, 255, 0, 0.9);
  color: var(--color-background);
}

body {
  background: linear-gradient(
        180deg,
        var(--color-secondary-background) 0%,
        transparent 30%,
        transparent 100%
      )
      no-repeat,
    var(--color-background);
  font-weight: 450;
  color: white;
  animation: colorful 20s ease infinite;
}

a {
  color: white;
  cursor: pointer;
}

#container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

button {
  background: transparent;
  border: 1px solid var(--color-foreground-6);
  border-radius: var(--border-radius-medium);
  color: var(--color-foreground-6);
  cursor: pointer;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-normal);
  line-height: 1.6;
  padding: 0.5rem 1.25rem;
  width: fit-content;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.no-border {
  border: none;
}

section {
  margin: 5vw auto;
  padding: 0 5vw;
  text-align: center;
}

header {
  margin: 4vw auto 2vw;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header p {
  max-width: 55rem;
  color: var(--color-foreground);
}

/* CLI Section */

section.cli-section {
  display: flex;
  flex-direction: row;
  margin: 0 0 5vw;
}

.get-started {
  font-size: var(--font-size-normal);
  text-align: left;
  width: 30vw;
  padding-right: 2vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.get-started a {
  border-bottom: 1px solid;
}

.get-started ol {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.get-started ol li {
  margin: 1vw 0;
  line-height: 1.25;
}

.get-started ol li .note {
  color: var(--color-foreground-4);
  font-style: italic;
  margin: 0.5vw 0 1vw;
  word-wrap: break-word;
}

.terminal {
  background-color: var(--color-black-30);
  border-radius: var(--border-radius-medium);
  padding: var(--border-radius-medium);
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-medium);
  overflow: scroll;
  line-height: 150%;
  color: var(--color-foreground-5);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  white-space: nowrap;
  width: 70%;
  align-self: center;
  text-align: left;
}

.terminal::-webkit-scrollbar {
  display: none;
}

.terminal-highlight {
  color: var(--color-positive);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.feature {
  padding: 2vw;
  background: var(--color-black-30);
  border-radius: 1rem;
  text-align: left;
}

.feature p {
  color: var(--color-foreground-5);
}

.feature img {
  width: 100%;
}

/* Explore orgs */

section.explore {
  text-align: center;
}

.orgs {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.org {
  list-style-type: none;
  padding: 2rem;
  border-radius: 1rem;
  width: max-content;
}

.org,
.org * {
  cursor: pointer;
}

.org:hover {
  background-color: var(--color-black-30);
}

.org img {
  display: block;
  border-radius: 50%;
  min-width: 1rem;
  min-height: 1rem;
  width: 4rem;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
}

.org a {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.org p {
  color: var(--color-foreground-5);
  font-size: var(--font-size-normal);
  white-space: nowrap;
}
