/* Fonts */

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

@font-face {
  font-family: "Cascadia Code";
  src: url(assets/cascadia.woff2) format("woff2");
}

/* Reset */
* {
  margin: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}

/* Variables */
:root {
  --color-primary: #ff55ff;
  --color-secondary: #5555ff;
  --color-secondary-background: #5555ff11;
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-tertiary: #55ffff;
  --color-positive: #53db53;
  --color-caution: #ffc555;
  --color-negative: #ff5555;
  --color-foreground: #ffffff;
  --color-foreground-1: #242e38;
  --color-foreground-2: #29343d;
  --color-foreground-3: #333e47;
  --color-foreground-4: #5e6d7a;
  --color-foreground-5: #8594a1;
  --color-foreground-6: #d3dee8;
  --color-background: #0b131a;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-glow: #5555ff22;
  --font-family-sans-serif: Inter, sans-serif;
  --font-family-monospace: "Cascadia Code";
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-size-large: 7vw;
  --font-size-medium: 1.75vw;
  --font-size-normal: 1rem;
  --font-size-small: 0.5vw;
  --border-radius-large: 4vw;
  --border-radius-medium: 2vw;
  --border-radius-tiny: 0.5vw;
  --box-shadow-color: var(--color-secondary-2);
}

/* Typography */

h1 {
  font-size: var(--font-size-large);
  line-height: 1;
  text-align: center;
  letter-spacing: -0.2vw;
  font-weight: 900;
  margin-bottom: 2vw;
}

h3 {
  color: var(--color-secondary);
  padding: 1rem 0rem;
  font-size: var(--font-size-medium);
}

p {
  color: var(--color-foreground-faded);
  margin-bottom: 2rem;
  font-size: var(--font-size-normal);
  font-weight: 300;
}

code {
  font-family: var(--font-family-monospace);
  letter-spacing: 0.1rem;
  font-size: var(--font-size-normal);
  background: var(--color-secondary);
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: var(--border-radius-tiny);
}

/* Styles */

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

body {
  background: linear-gradient(
        180deg,
        var(--color-secondary-background) 0%,
        transparent 30%,
        transparent 100%
      )
      no-repeat,
    var(--color-background);
  font-weight: 450;
  color: white;
}

#container {
  padding: 5vw;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
section {
  margin: 2rem auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5vw;
}

header p {
  max-width: 45rem;
}

.terminal {
  background-color: var(--color-black-30);
  border-radius: var(--border-radius-large);
  padding: var(--border-radius-large);
  height: 40vw;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-medium);
  overflow: scroll;
  box-shadow: 0 5rem 10rem inset var(--color-shadow);
  line-height: 150%;
  color: var(--color-foreground-5);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.terminal::-webkit-scrollbar {
  display: none;
}

.terminal-highlight {
  color: var(--color-positive);
}

.download-cli {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  text-align: center;
  font-size: var(--font-size-medium);
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.feature {
  padding: 2vw;
  background: var(--color-black-30);
  border-radius: 1rem;
  flex-grow: 1;
}

.feature img {
  width: 100%;
}

/* Explore orgs */

section.explore {
}

.orgs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.org {
  list-style-type: none;
  padding: 2rem 2rem 0 2rem;
  border-radius: 1rem;
  width: max-content;
}

.org:hover {
  background-color: #151f23;
}

.org img {
  display: block;
  border-radius: 50%;
  min-width: 1rem;
  min-height: 1rem;
  width: 4rem;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0.5rem;
}

.org a {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.org p {
  color: var(--color-foreground-4);
  font-size: var(--font-size-normal);
  white-space: nowrap;
}

/* Get started */

section.get-started {
  font-size: var(--font-size-normal);
}

/* Forms */

button {
  background: transparent;
  border: 1px solid var(--color-foreground-6);
  border-radius: var(--border-radius-medium);
  color: var(--color-foreground-6);
  cursor: pointer;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-normal);
  line-height: 1.6;
  padding: 0.5rem 1.25rem;
  width: fit-content;
}
