/* Fonts */

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

/* Reset */
* {
  margin: 0;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: default;
}

/* Variables */
:root {
  --color-primary: #ff55ff;
  --color-secondary: #5555ff;
  --color-secondary-background: #5555ff11;
  --color-tertiary: #55ffff;
  --color-positive: #53db53;
  --color-caution: #ffc555;
  --color-negative: #ff5555;
  --color-foreground: #ffffff;
  --color-foreground-1: #242e38;
  --color-foreground-2: #29343d;
  --color-foreground-3: #333e47;
  --color-foreground-4: #5e6d7a;
  --color-foreground-5: #8594a1;
  --color-foreground-6: #d3dee8;
  --color-background: #0b131a;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-glow: #5555ff22;
  --font-family-sans-serif: Inter, sans-serif;
  --font-family-monospace: monospace;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --border-radius: 50px;
  --box-shadow-color: var(--color-secondary-2);
}

/* Typography */

h3 {
  color: var(--color-secondary);
  padding: 1rem 0rem;
  font-size: 1.25rem;
}

p {
  color: var(--color-foreground-faded);
}

/* Styles */

::selection {
  background: var(--color-primary);
  color: var(--color-background);
}

body {
  background: linear-gradient(
        180deg,
        var(--color-secondary-background) 0%,
        transparent 30%,
        transparent 100%
      )
      no-repeat,
    var(--color-background);
  font-weight: 450;
  color: white;
}

#container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
section {
  max-width: 68rem;
  margin: 2rem auto;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}

.right-box {
  background-color: black;
  border-radius: 0.5rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.orgs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.org {
  list-style-type: none;
}

.org > img {
  display: block;
  border-radius: 50%;
  min-width: 1rem;
  min-height: 1rem;
  width: 4rem;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Forms */

button {
  background: transparent;
  border: 1px solid var(--color-foreground-6);
  border-radius: var(--border-radius);
  color: var(--color-foreground-6);
  cursor: pointer;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  line-height: 1.6;
  min-width: 6rem;
  padding: 0.5rem 1.25rem;
}
